{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}
    
<div class="row">
    
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Trips</h3>
                
                <hr/>
                 {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form)}}
                    
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            {{ form_widget(form.name, { 'attr': {'class': 'span4'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="date">Date</label>
                        <div class="controls">
                            {{ form_widget(form.date, { 'attr': {'class': 'span4'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="name">Place</label>
                        <div class="controls">
                            {{ form_widget(form.nbPlace, { 'attr': {'class': 'span4'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            {{ form_widget(form.description, { 'attr': {'class': 'span4'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                     <div class="control-group">
                        <label class="control-label" for="price">Price</label>
                        <div class="controls">
                            {{ form_widget(form.price, { 'attr': {'class': 'span4'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<a class="btn" href="{{ path('esn_administration_trips') }}">Cancel</a>
                    </div> <!-- /form-actions -->
                    {{ form_end(form) }}
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>

{% endblock %}