<div class="row">

                       <div class="span5">
                                <div class="widget">
                                    <div class="widget-content">
{#                                    <button class="btn">Delete selected trips</button>&nbsp;&nbsp;#}
{#                                    <button type="submit" class="btn">Add new trip</button> #}
                                    <a class="btn" href="{{ path('esn_administration_trips_add') }}">Add new trip</a>
                                    </div><!-- /widget-content --> 
                                </div><!-- /widget -->    
                            </div>
                      

                    <div class="span12">
                        <div class="widget">
                            <div class="widget-content">
                                              
                                <div class="panel panel-default">

                                    <!-- Table -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Number of seats</th>
                                            <th>Price</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for trip in trips %}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{{ trip.name}}</td>
                                            <td>{{ trip.description}}</td>
                                            <td>{{ trip.date.format('M j, Y h:m a')}}</td>
                                            <td>{{ trip.nbPlace}}</td>
                                            <td>{{ trip.price}}</td>
                                            <td>
                                                <a href="">View</a> &nbsp;
                                                <a href="{{ path('esn_administration_trips_edit', {
                                                        'id' : trip.id
                                                       }) }}">Edit</a> &nbsp;
                                                <a href="{{ path('esn_administration_trips_delete', {
                                                        'id' : trip.id
                                                       }) }}">Delete</a>       
                                            </td>
                                        </tr>
                                         {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div><!-- widget-content -->
                        </div><!-- /widget -->
                    </div><!-- /span12 -->   
        
                    </div>