{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Countries</h3>
                
                <hr/>
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form)}}
                    
                     <fieldset>
                    
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                {{ form_widget(form.name, { 'attr': {'class': 'span4'} }) }}
                            </div> <!-- /controls -->			
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="nationality">Nationality</label>
                            <div class="controls">
                                {{ form_widget(form.nationality, { 'attr': {'class': 'span4'} }) }}
                            </div> <!-- /controls -->			
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="language">Language</label>
                            <div class="controls">
                                {{ form_widget(form.language, { 'attr': {'class': 'span4'} }) }}
                            </div> <!-- /controls -->			
                        </div> <!-- /control-group -->

                         <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Save"/> 
                             <a class="btn" href="{{ path('esn_administration_countries') }}">Cancel</a>
                        </div> <!-- /form-actions -->
                    </fieldset>
                    
                    
         {#       <form action="" 
                      method="post" class="form-horizontal" name="add_country">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="span4" id="name" value="">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="nationality">Nationality</label>
                        <div class="controls">
                            <input type="text" class="span4" id="nationality" value="">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language">Language</label>
                        <div class="controls">
                            <input type="text" class="span4" id="language" value="">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                     </fieldset>
               </form>#}
           
            {{ form_end(form) }}
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>
{% endblock %}