
<div class="row">

                        <div class="span">
                                <div class="widget">
                                    <div class="widget-content">
                                    
                                      
                                        <a class="btn" href="{{ path('esn_administration_countries_add') }}">Add new country</a>
                                                                               
                                    </div><!-- /widget-content --> 
                                </div><!-- /widget -->    
                            </div>
                    

                    <div class="span12">
                        <div class="widget">
                            <div class="widget-content">
                                              
                                <div class="panel panel-default">

                                    <!-- Table -->
                                                    
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Nationality</th>
                                            <th>Language</th>
                                            <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          
                                        {% for country in countries %}
                                            <tr>
                                                <td>
{#                                                    <input type="checkbox" id="{{country.id}}" name="{{country.name}}">#}
                                                </td>
                                                <td>{{country.name}}</td>
                                                <td>{{country.nationality}}</td>
                                                <td>{{country.language}}</td>
                                                <td>
                                                    <a href="{{ path('esn_administration_countries_edit', {
                                                        'id' : country.id
                                                       }) }}">Edit</a> &nbsp;/
                                                    <a href="{{ path('esn_administration_countries_delete', {
                                                        'id' : country.id
                                                       }) }}">Delete</a>
                                                </td>
                                            </tr>
                                            
                                        {% endfor %} 
                                        
                                       </tbody>
                                    </table>
                                </div>
                            </div><!-- widget-content -->
                        </div><!-- /widget -->
                    </div><!-- /span12 -->   
        
                    </div>
                                       