<div class="row">
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <a class="btn" href="{{ path('esn_members_erasmus_delete', {
                        'id' : member.id }) }}">Delete</a>
                <a class="btn" href="{{ path('esn_members_edit', {
                        'type': 'erasmus',
                        'id' : member.id }) }}">Edit</a>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    

        <div class="widget">
            <div class="widget-content">
            
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; {{ member.email }} <br/>
                &nbsp; {{ member.phone }} <br/>
                &nbsp; <i class="icon-large icon-facebook-sign"></i> <a href="">georges.ciaoba</a>

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>{{ member.name }}</h3>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            24 years old
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            08/07/1990
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            Captain
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">ESN Card</label>
                        <div class="controls">
                            624839GYL0
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            01/09/2013
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
 
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            01/09/2015
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            Master's Degree Computer Science
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            University Lille 1
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>