{% extends '::base.html.twig' %}

{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">

                <a class="btn btn-info" href="{{ path('esn_members_erasmus_edit', {'user_id' : user.id }) }}">Edit</a>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    

        <div class="widget">
            <div class="widget-content">
            
                <h3>Contact</h3>
                
                <hr/>
                <p>{{ user.email }}</p>
                <p>{{ user.mobile }}</p>
                {% if user.getFacebookId() %}
                    <p><i class="icon-large icon-facebook-sign"></i> <span>Facebook</span> </p>
                {% endif %}

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>
                    {{ user.firstname }}
                    {{ user.lastname }}
                </h3>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Âge</label>
                        <div class="controls">
                            <span>
                                {% if user.birthdate is not null %}
                                   {{ user.getAge() }}
                                {% endif %}
                                
                                </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            <span>{{ user.birthdate|date('Y-m-d') }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            <span>{{ user.nationality }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">ESN Card</label>
                        <div class="controls">
                            {{user.esncard }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            <span>{{user.arrivalDate|date('Y-m-d') }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
 
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            <span>{{user.leavingDate|date('Y-m-d') }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            <span>{{ user.study }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <span>{{ user.university }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>

{% endblock %}