<div class="row">
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <a class="btn" href="{{ path('esn_members_erasmus_delete', {
                        'id' : member[0].erasmus.id }) }}">Delete</a>
                <a class="btn" href="{{ path('esn_members_edit', {
                        'type': 'erasmus',
                        'id' : member[0].erasmus.id }) }}">Edit</a>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    

        <div class="widget">
            <div class="widget-content">
            
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; {{ member[0].identity.email }} <br/>
                &nbsp; {{ member[0].identity.phone }} <br/>
                &nbsp; <i class="icon-large icon-facebook-sign"></i> <a href="">georges.ciaoba</a>

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>{{ member[0].identity.name }}</h3>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            Test years old
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            {{ member[0].identity.birthday|date('Y-m-d') }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            {{ member[0].identity.nationality }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">ESN Card</label>
                        <div class="controls">
                            {{ member[0].erasmus.esncard }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                             {{ member[0].erasmus.arrivalDate|date('Y-m-d') }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
 
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            {{ member[0].erasmus.leavingDate|date('Y-m-d') }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            {{ member[0].identity.study }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            {{ member[0].identity.university }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>
