<div class="row">
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <a class="btn btn-warning" href="{{ path('esn_members_erasmus_delete', {
                        'id' : member[0].erasmus.id }) }}">Delete</a>
                <a class="btn btn-info" href="{{ path('esn_members_erasmus_edit', {'id' : member[0].erasmus.id }) }}">Edit</a>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    

        <div class="widget">
            <div class="widget-content">
            
                <h3>Contact</h3>
                
                <hr/>
                <p>{{ member[0].identity.email }}</p>
                <p>{{ member[0].identity.phone }}</p>
                <p><i class="icon-large icon-facebook-sign"></i> <span>Facebook</span> </p>

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>
                    {{ member[0].identity.name }}
                    {{ member[0].identity.surname }}
                </h3>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            <span>
                                {% if member[0].identity.birthday != null %}
                                   {{ member[0].identity.getAge() }}
                                {% endif %}
                                
                                </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            <span>{{ member[0].identity.birthday|date('Y-m-d') }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            <span>{{ member[0].identity.nationality }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">ESN Card</label>
                        <div class="controls">
                            {{ member[0].erasmus.esncard }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            <span>{{ member[0].erasmus.arrivalDate|date('Y-m-d') }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
 
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            <span>{{ member[0].erasmus.leavingDate|date('Y-m-d') }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            <span>{{ member[0].identity.study }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <span>{{ member[0].identity.university }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>
