{% extends '::base.html.twig' %}

{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">

    <div class="span3">
        <div class="widget">
            <div class="widget-content">

                <h3>Contact</h3>

                {{ form_start(form) }}

                <hr/>
                {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                {{ form_widget(form.mobile, { 'attr': {'placeholder': 'Téléphone'} }) }}
                <br/>

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>
    <div class="span9">
        <div class="widget">
            <div class="widget-content">

                Firstname  {{ form_widget(form.firstname, { 'attr': {'placeholder': 'Prénom'} }) }}
                Surname  {{ form_widget(form.lastname, { 'attr': {'placeholder': 'Nom'} }) }}

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>

    <div class="span9">
        <div class="widget">
            <div class="widget-content">

                <h3>Erasmus Information</h3>

                <hr/>


                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="birthday">Birthday</label>
                        <div class="controls">
                            {{ form_widget(form.birthdate) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            {{ form_widget(form.nationality) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="card">ESN Card</label>
                        <div class="controls">
                            {{ form_widget(form.esncard) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            {{ form_widget(form.arrivalDate) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            {{ form_widget(form.leavingDate) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->
                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            {{ form_widget(form.study) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            {{ form_widget(form.university) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Save">
                        <button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->

                </fieldset>
                {{ form_end(form) }}

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>

</div>
{% endblock %}