<div class="row">
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; <input type="text" value="{{member[0].identity.email}}"> <br/>
                &nbsp; <input type="text" value="{{member[0].identity.phone}}"> <br/>

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                Firstname  &nbsp; <input type="text" value="{{member[0].identity.name}}"/> &nbsp; &nbsp; &nbsp;
                Surname  &nbsp; <input type="text" value="{{member[0].identity.surname}}"/>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="birthday">Birthday</label>
                        <div class="controls">
                            <input type="date" class="span6" id="birthday" value="{{ member[0].identity.birthday|date('Y-m-d') }}">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            <select id="nationality">
                                {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.nationality }}</option>
                                {% endfor %}
                            </select>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="card">ESN Card</label>
                        <div class="controls">
                            <input type="text" class="span6" id="card" value="{{ member[0].erasmus.esncard }}">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            <input type="date" class="span6" id="birthday" value="{{ member[0].erasmus.arrivalDate|date('Y-m-d') }}">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
 
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            <input type="date" class="span6" id="birthday" value="{{ member[0].erasmus.leavingDate|date('Y-m-d') }}">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            <input type="text" class="span6" id="zip" value=" {{ member[0].identity.study }}" >
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <select id="university">
                                {% for univercity in universities %}
                                    <option value="{{ univercity.id }}">{{ univercity.name }}</option>
                                {% endfor %}
                            </select>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                    
                </fieldset>
                </form>
                        
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>