{% extends '::base.html.twig' %}

{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}
<div class="row">
    
    <div class="span2">
        <div class="widget">
            
        </div><!-- /widget -->    
    </div>
    
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <!--<form id="edit-profile" class="form-horizontal">-->
                {{ form_start(form, {'attr' : {'class': 'form-horizontal'} }) }}
                <fieldset>
                    <!-- NAME -->
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            {{ form_widget(form.name, {
                                     'attr': {
                                        'class': 'span6',
                                        'id':'name', 
                                        'placeholder' : 'name'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- SURNAME -->
                    <div class="control-group">
                        <label class="control-label" for="surname">Surname</label>
                        <div class="controls">
                            {{ form_widget(form.surname, {
                                     'attr': {
                                        'class': 'span6',
                                        'id':'surname', 
                                        'placeholder' : 'surname'} }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- EMAIL -->
                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            {{ form_widget(form.email, {
                                     'attr': {
                                        'class': 'span6', 'id':'email', 'placeholder':'email' } }) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- PHONE -->
                    <div class="control-group">
                        <label class="control-label" for="phone">Phone</label>
                        <div class="controls">
                            {{ form_widget(form.phone, {
                                     'attr': {
                                        'class': 'span6', 'id': 'phone', 'placeholder' : 'phone' }}) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- BIRTHDAY -->
                    <div class="control-group">
                        <label class="control-label" for="birthday">Birthday</label>
                        <div class="controls">
                            {{ form_widget(form.birthday, {'attr': {'class': 'span6' }}) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- NATIONALITY -->
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            <select id="nationality" disabled>
                                <option>English</option>
                                <option>French</option>
                                <option>Italian</option>
                                <option selected>Romanian</option>
                                <option>Spanish</option>
                            </select>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <!-- ESN CARD -->
                    <div class="control-group">
                        <label class="control-label" for="card">ESN Card</label>
                        <div class="controls">
                            {{ form_widget(form.esncard, {
                                'attr': {
                                    'class': 'span6', 'id': 'esncard' }}) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- ARRIVAL DATE -->
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            {{ form_widget(form.arrivalDate, {'attr': {'class': 'span6' }}) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- LEAVING DATE -->
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            {{ form_widget(form.leavingDate, {'attr': {'class': 'span6' }}) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    <hr/>
                    
                    <!-- STUDY -->
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            {{ form_widget(form.study, {'attr': {'class': 'span6' }}) }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <!-- UNIVERSITY -->
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <select id="university" disabled>
                                <option selected>University Lille 1</option>
                                <option>University Lille 2</option>
                                <option>University Lille 3</option>
                            </select>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    <!-- SUBMIT -->
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                    
                </fieldset>
                {{ form_end(form) }}
                        
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
                
    <div class="span2">
        <div class="widget">
            
        </div><!-- /widget -->    
    </div>
    
</div>
{% endblock %}