<div class="control-group">
    <label class="span3" for="hundred">{{ form_label(form.hundred) }}</label>
    <div class="controls">
        x{{ form_widget(form.hundred) }}
        <span style="margin-left: 20px;">x{{ previous.hundred }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="fivty">{{ form_label(form.fivty) }}</label>
    <div class="controls">
        x{{ form_widget(form.fivty) }}
        <span style="margin-left: 20px;">x{{ previous.fivty }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="twenty">{{ form_label(form.twenty) }}</label>
    <div class="controls">
        x{{ form_widget(form.twenty) }}
        <span style="margin-left: 20px;">x{{ previous.twenty }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="ten">{{ form_label(form.ten) }}</label>
    <div class="controls">
        x{{ form_widget(form.ten) }}
        <span style="margin-left: 20px;">x{{ previous.ten }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="five">{{ form_label(form.five) }}</label>
    <div class="controls">
        x{{ form_widget(form.five) }}
        <span style="margin-left: 20px;">x{{ previous.five }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="two">{{ form_label(form.two) }}</label>
    <div class="controls">
        x{{ form_widget(form.two) }}
        <span style="margin-left: 20px;">x{{ previous.two }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="one">{{ form_label(form.one) }}</label>
    <div class="controls">
        x{{ form_widget(form.one) }}
        <span style="margin-left: 20px;">x{{ previous.one }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="fivtycent">{{ form_label(form.fivtycent) }}</label>
    <div class="controls">
        x{{ form_widget(form.fivtycent) }}
        <span style="margin-left: 20px;">x{{ previous.fivtycent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="twentycent">{{ form_label(form.twentycent) }}</label>
    <div class="controls">
        x{{ form_widget(form.twentycent) }}
        <span style="margin-left: 20px;">x{{ previous.twentycent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="tencent">{{ form_label(form.tencent) }}</label>
    <div class="controls">
        x{{ form_widget(form.tencent) }}
        <span style="margin-left: 20px;">x{{ previous.tencent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="fivecent">{{ form_label(form.fivecent) }}</label>
    <div class="controls">
        x{{ form_widget(form.fivecent) }}
        <span style="margin-left: 20px;">x{{ previous.fivecent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="twocent">{{ form_label(form.twocent) }}</label>
    <div class="controls">
        x{{ form_widget(form.twocent) }}
        <span style="margin-left: 20px;">x{{ previous.twocent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="onecent">{{ form_label(form.onecent) }}</label>
    <div class="controls">
        x{{ form_widget(form.onecent) }}
        <span style="margin-left: 20px;">x{{ previous.onecent }}</span>
    </div>
</div>