<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="fivty">fivty</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.fivty }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="twenty">twenty</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.twenty }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="ten">ten</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.ten }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="five">five</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.five }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="two">two</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.two }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="one">one</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.one }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="fivtycent">fivtycent</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.fivtycent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="twentycent">twentycent</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.twentycent }}</span>
    </div>
</div>

<div class="control-group" style="margin-top: -15px;">
    <label class="span3" for="tencent">tencent</label>
    <div class="controls">
        <span style="margin-left: 20px;">x{{ report.tencent }}</span>
    </div>
</div>