{% extends '::base.html.twig' %}


{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

    <div class="row">

        <div class="span8">
            <div class="widget">
                <div class="widget-content">

                    <h3>Poles</h3>

                    <hr/>
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form) }}
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>

                        <div class="controls">
                            {{ form_widget(form.name, { 'attr': {'class': 'span4'} }) }}
                        </div>
                        <!-- /controls -->
                    </div>
                    <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="description">Couleur</label>

                        <div class="controls">
                            {{ form_widget(form.color, { 'attr': {'class': 'span4'} }) }}
                        </div>
                        <!-- /controls -->
                    </div>
                    <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>

                        <div class="controls">
                            {{ form_widget(form.description, { 'attr': {'class': 'span4'} }) }}
                        </div>
                        <!-- /controls -->
                    </div>
                    <!-- /control-group -->

                    <div class="form-actions">

                        <input type="submit" class="btn btn-primary" value="Save"/>
                        <a class="btn" href="{{ path('esn_administration_poles') }}">Cancel</a>
                    </div>
                    <!-- /form-actions -->

                    {{ form_end(form) }}
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#form_color').jPicker({
                window: {
                    expandable: true
                }
            });
        });
    </script>
{% endblock %}

