<div class="row">

                        <div class="span5">
                                <div class="widget">
                                    <div class="widget-content">
                                    
{#                                        <button type="submit" class="btn">Add new rule</button> &nbsp;&nbsp;#}
{#                                        <button class="btn">Delete selected rules</button>#}
                                          <a class="btn" href="{{ path('esn_administration_rules_add') }}">Add new rule</a>

                                    </div><!-- /widget-content --> 
                                </div><!-- /widget -->    
                            </div>

                    <div class="span12">
                        <div class="widget">
                            <div class="widget-content">
                                              
                                <div class="panel panel-default">

                                    <!-- Table -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          {% for rule in rules %}
                                        <tr>
                                            <td>
{#                                                <input type="checkbox">#}
                                            </td>
                                            <td>{{ rule.name }}</td>
                                            <td>{{ rule.description }}</td>
                                            <td>
                                               
                                                 <a href="{{ path('esn_administration_rules_edit', {
                                                        'id' : rule.id
                                                       }) }}">Edit</a> &nbsp;
                                                <a href="{{ path('esn_administration_rules_delete', {
                                                        'id' : rule.id
                                                       }) }}">Delete</a> 
                                            </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div><!-- widget-content -->
                        </div><!-- /widget -->
                    </div><!-- /span12 -->   
        
                    </div>