{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="span3">
        
        <div class="widget ">
            <div class="widget-content">
                
                <img style="width: 100%;" src="/img/user.png">
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
        <div class="widget">
            <div class="widget-content">
                
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; {{ infoEsner.esner.member.email }} <br/>
                &nbsp; {{ infoEsner.esner.member.phone }}
                               
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3>{{ infoEsner.esner.member.name }} {{ infoEsner.esner.member.surname }}</h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>VP Information</h3>
                <hr/>
                
                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                {{ form_errors(form)}}
                
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="roles">Cotisation </label>
                        <div class="controls">
                            {{ form_widget(form.cotisation, { 'attr': {'class': 'span4'} }) }}
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="roles">Comment</label>
                        <div class="controls">
                            {{ form_widget(form.comment, { 'attr': {'class': 'span4', 'cols': '10', 'rows': '5' }} ) }}
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->

                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
            <button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                                        {{ form_end(form) }}
                </fieldset>  
                </form>    
            </div><!-- /widget-content -->
        </div><!-- /widget -->

    </div><!-- /span9 -->
    
</div><!-- /row -->
{% endblock %}
