{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
            
                <h3>ESNers</h3>
                
                <hr/>
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form)}}
                    
                     <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                {{ form_widget(form.name, { 'attr': {'class': 'span4'} }) }}
                            </div> <!-- /controls -->			
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="nationality">Surname</label>
                            <div class="controls">
                                {{ form_widget(form.surname, { 'attr': {'class': 'span4'} }) }}
                            </div> <!-- /controls -->			
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label class="control-label" for="language">Email</label>
                            <div class="controls">
                                {{ form_widget(form.email, { 'attr': {'class': 'span4'} }) }}
                            </div> <!-- /controls -->			
                        </div> <!-- /control-group -->

                         <div class="control-group">
                             <label class="control-label" for="language">Phone</label>
                             <div class="controls">
                                 {{ form_widget(form.phone, { 'attr': {'class': 'span4'} }) }}
                             </div> <!-- /controls -->
                         </div> <!-- /control-group -->

                         <div class="control-group">
                             <label class="control-label" for="address">Post</label>
                             <div class="controls">
                                 {{ form_widget(form.post, {'attr': {'class': 'span6' }}) }}
                             </div>
                         </div>

                         <div class="control-group">
                             <label class="control-label" for="address">Pôle</label>
                             <div class="controls">
                                 {{ form_widget(form.pole, {'attr': {'class': 'span6' }}) }}
                             </div>
                         </div>

                         <!-- NATIONALITY -->
                         <div class="control-group">
                             <label class="control-label" for="address">Nationality</label>
                             <div class="controls">
                                 {{ form_widget(form.country, {'attr': {'class': 'span6' }}) }}
                             </div> <!-- /controls -->
                         </div> <!-- /control-group -->

                         <div class="control-group">
                             <label class="control-label" for="university">Erasmus Program</label>
                             <div class="controls">
                                 {{ form_widget(form.erasmus, {'attr': {'class': 'span6' }}) }}
                             </div> <!-- /controls -->
                         </div> <!-- /control-group -->

                         <div class="control-group">
                             <label class="control-label" for="university">University</label>
                             <div class="controls">
                                 {{ form_widget(form.university, {'attr': {'class': 'span6' }}) }}
                             </div> <!-- /controls -->
                         </div> <!-- /control-group -->

                         <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Save"/> 
                             <a class="btn" href="{{ path('esn_hr_association') }}">Cancel</a>
                        </div> <!-- /form-actions -->


                    </fieldset>
           
            {{ form_end(form) }}
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>
{% endblock %}