{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}
<div class="span12">
        <div class="widget">
            <div class="widget-content">
                    <h2> Enrollment Trip </h2>
                    
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form)}}
                    <br>
                    <form class="form-horizontal" id="enroll-user">
                    <fieldset>
                        
                        <div class="control-group">											
                            <label class="span3" for="trip">Trip : </label>
                            <div class="controls">
                                {% if form.trips.vars.choices %}
                                  {{ form_widget(form.trips, { 'separator': '=====' }) }}
                                {% else %}
                                    Il n'y a pas encore de voyage de créé. <br>
                                    Pour en créer un <a href="{{ path('esn_administration_trips_add') }}">cliquez ici</a>.
                                {% endif %}
                            </div> <!-- /controls -->				
                        </div>
                        
                        <div class="control-group">											
                            <label class="span3" for="user">Member to enroll : </label>
                            <div class="controls">
                                {% if form.members.vars.choices %}
                                    {{ form_widget(form.members, { 'separator': '=====' }) }}
                                {% else %}
                                    Il n'y a pas encore de membre de créé.<br>
                                    Pour en créer un <a href="{{ path('esn_hr_association_add') }}">cliquez ici</a>.
                                {% endif %}
                            </div> <!-- /controls -->				
                        </div>
                        
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Save"/> 
                             <a class="btn" href="{{ path('esn_permanence_trips') }}">Cancel</a>
                        </div> <!-- /form-actions -->
                    </fieldset>
            {{ form_end(form) }}
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span8 -->   
{% endblock %}
