{% extends 'ESNMembersBundle::index.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                <a href="{{ path('esn_permanence_enrollUserToTrip') }}">
                    <button class="btn btn-info">Enroll a member to a trip</button>
                </a>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>

    <div class="span12">
        <div class="widget">
            <div class="widget-content">


                <div class="panel panel-default">

                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Number of seats</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.date|date('d/m/Y') }}</td>
                                <td>{{ trip.name }}</td>
                                <td>{{ trip.nbPlace }}</td>
                                <td>{{ trip.price }} €</td>
                                <td><a href="{{ path('esn_permanence_seeTrip', {
                                        'id' : trip.id
                                    }) }}">See details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- widget-content -->
        </div>
        <!-- /widget -->
    </div><!-- /span8 -->
	
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" >
	</script>

	<scripttype="text/javascript"
		src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}">
	</script>

	<script type="text/javascript"
		src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}">
	</script>


{% endblock %}