{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}
<div class="span12">
        <div class="widget">
            <div class="widget-content">
                <a href="{{ path('esn_permanence_reports') }}"> Retour </a>
                    <h2> Permanence report </h2>
                    <br>
                     {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                    {{ form_errors(form)}}
                    <fieldset>
                        <div class="control-group">											
                                <label class="span3" for="amountFundBefore">Amount of the fund before the permanence : </label>
                                <div class="controls">
                                        {{ form_widget(form.amountBefore, { 'attr': {'class': 'span4'} }) }}
                                </div> <!-- /controls -->				
                        </div>
                         <div class="control-group">											
                                <label class="span3" for="amountFundAfter">Amount of the fund after the permanence : </label>
                                <div class="controls">
                                        {{ form_widget(form.amountAfter, { 'attr': {'class': 'span4'} }) }}
                                </div> <!-- /controls -->				
                        </div>
                        
                        <div class="control-group">											
                                <label class="span3" for="amountSell">Amout of the sell : </label>
                                <div class="controls">
                                      {{ form_widget(form.amountSell, { 'attr': {'class': 'span4'} }) }} 
                                </div> <!-- /controls -->				
                        </div>
                        <h3> Cards </h3>
                        
                             <div class="control-group">											
                                    <label class="span3" for="nbCardSold">Number of sold cards : </label>
                                    <div class="controls">
                                        {{ form_widget(form.sellCard, { 'attr': {'class': 'span4'} }) }}
                                    </div> <!-- /controls -->				
                            </div>
                            <div class="control-group">											
                                    <label class="span3" for="nbCardSoldAvailable">Number of available cards : </label>
                                    <div class="controls">
                                            
                                        {{ form_widget(form.availableCard, { 'attr': {'class': 'span4', 'disabled':'disabled'} }) }}
                                    </div> <!-- /controls -->				
                            </div>
                        
                        <!--
                        <h3> Trips </h3>
                        <h4>Trip in Paris</h4>
                        
                            <div class="control-group">											
                                    <label class="span3">Price of the trip : 50€</label>
                            </div>
                            <div class="control-group">											
                                <label class="span3" for="nbPlaceTrip1Sold"> Number of place sold : </label>
                                    <div class="controls">
                                        <input class="span3" id="nbPlaceTrip1Sold" value="5" type="text">
                                    </div> <!-- /controls -->				
                        <!--    </div> -->
                        <!--
                            <div class="control-group">											
                                    <label class="span3" for="nbPlaceTrip1Available">Number of place available : </label>
                                    <div class="controls">
                                        <input class="span3" id="nbPlaceTrip1Available" value="25" type="text">
                                    </div> <!-- /controls -->				
                            <!--</div>
                        
                        
                        
                            <div class="control-group">											
                                    <label class="span3" for="amountSellTrip1">Amount of the sell : </label>
                                    <div class="controls">
                                        
                                    </div> <!-- /controls -->				
                           <!-- </div>-->
                        <h3> Informations </h3>
                        <div class="control-group">											
                                    <label class="span3" for="comments">Comments : </label>
                                    <div class="controls">
                                        {{ form_widget(form.comments, { 'attr': {'class': 'span4'} }) }}
                                       
                                    </div>		
                        </div>
                        
                        
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Save"/> 
                             <a class="btn" href="{{ path('esn_permanence_reports') }}">Cancel</a>
                        </div> <!-- /form-actions -->
                    </fieldset>
                    
            {{ form_end(form) }}
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span8 -->   

{% endblock %}