{% extends 'ESNMembersBundle::index.html.twig' %}

{% block body %}

    {{ parent() }}
<div class="span12">
        <div class="widget">
            <div class="widget-content">
                
                <a href="{{ path('esn_permanence_reports') }}"> Retour </a>
                    <br>
                    <br/>
                    <h2> Permanence report of {{report.date|date('d/m/Y G:i ')}} </h2>
                    <br>
                    <form class="form-horizontal" id="edit-profile">
                    <fieldset>
                        <div class="control-group">											
                                <label class="span4" for="amountFundBefore">Amount of the fund before the permanence : </label>
                                <div class="controls">
                                        <input class="span4" id="amountFundBefore" value="{{report.amountBefore}} " type="text" disabled>
                                </div> <!-- /controls -->				
                        </div>
                         <div class="control-group">											
                                <label class="span4" for="amountFundAfter">Amount of the fund after the permanence : : </label>
                                <div class="controls">
                                        <input class="span4" id="amountFundAfter" value="{{report.amountAfter}}" type="text" disabled>
                                </div> <!-- /controls -->				
                        </div>
                        
                                
                        <div class="control-group">											
                                <label class="span4" for="amountSell">Total amout of the sell : </label>
                                <div class="controls">
                                        <input class="span4" id="amountSell" value="{{report.amountSell}}" type="text" disabled>
                                </div> <!-- /controls -->				
                        </div>

                        <h3> Cash </h3><br>

                        {% include 'ESNPermanenceBundle:Cash:show.html.twig' %}

                        <h3> Cards </h3>
                        
                             <div class="control-group">											
                                    <label class="span4" for="nbCardSold">Number of sold cards : </label>
                                    <div class="controls">
                                            <input class="span4" id="nbCardSold" value="{{report.sellCard}}" type="text" disabled>
                                    </div> <!-- /controls -->				
                            </div>
                            <div class="control-group">											
                                    <label class="span4" for="nbCardSoldAvailable">Number of available cards : </label>
                                    <div class="controls">
                                            <input class="span4" id="nbCardSoldAvailable" value="{{report.availableCard}}" type="text" disabled>
                                    </div> <!-- /controls -->				
                            </div>
                        
                        
                        <h3> Informations </h3>

                        <div class="control-group">
                            <label class="span4" for="frequentation">Frequentation : </label>
                            <div class="controls">
                                <input class="span4" id="frequentation" value="{{report.frequentation}}" type="text" disabled>
                            </div>
                        </div>

                        <div class="control-group">											
                            <label class="span4" for="comments">Comments : </label>
                            <div class="controls">
                                <textarea class="span5" rows="4" cols="14 " style="resize: none;" disabled>{{report.comments}}</textarea>
                            </div>
                        </div>
                            
                    </fieldset>
                    </form>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span8 -->   
{% endblock %}
