<div class="row">
    {% if dashboard.events %}
        <div class="span8">
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                  <h3> Next Events</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                  <ul class="news-items">
                      {% for event in dashboard.events %}
                          <li>

                              <div class="news-item-date">
                                  <span class="news-item-day">{{ event.date|date("d") }}</span>
                                  <span class="news-item-month">{{ event.date|date("M") }}</span>
                              </div>
                              <div class="news-item-detail">
                                  <a href="{{ event.link }}" class="news-item-title" target="_blank">{{ event.title }}</a>
                                  <p class="news-item-preview">
                                      {{ event.description ~ ' ...' }}
                                  </p>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
                <!-- /widget-content -->
              </div>
              <!-- /widget -->
        </div>
    {% endif %}
</div>
<div class="row">

    <div class="span3">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Members</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  
                  <div id="big_stats" class="cf">
                    <div class="stat"> <i class="icon-user"></i> <span class="value">{{ dashboard.members.esners }}</span> ESNers</div>
                    <div class="stat"> <i class="icon-user"></i> <span class="value">{{ dashboard.members.erasmus }}</span> Erasmus</div>
                  </div>
                </div>
                <!-- /widget-content --> 
              </div>
            </div>
        </div>    
    </div>

    {% if dashboard.reports %}
        <div class="span8">
            <div class="widget widget-nopad">
                <div class="widget-header"> <i class="icon-list-alt"></i>
                  <h3> Permanence</h3>
                </div>
                <!-- /widget-header -->
                <div class="widget-content">
                  <div class="widget big-stats-container">
                    <div class="widget-content">
                        <ul class="news-items">
                            {% for report in dashboard.reports %}
                                <li>
                                    <div class="news-item-date"> <span class="news-item-day">{{ report.date|date("d") }}</span> <span class="news-item-month">{{ report.date|date("M") }}</span> </div>
                                    <div class="news-item-detail"> <a href="{{ path('esn_permanence_seeReport', { 'id': report.id }) }}">Rapport de permanence #{{ report.id }}</a>
                                        <p class="news-item-preview">{{ report.comments }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /widget-content -->
                  </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

</div>

