<!-- subnavbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li {% if app.request.server.get('PHP_SELF') == '/dashboard' %}class="active"{% endif %}><a href="{{ path('esn_dashboard_homepage') }}"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
        <li class="dropdown {% if app.request.server.get('PHP_SELF') == '/members' %}active{% endif %} ">					
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-group"></i>
                <span>Members</span>
                <b class="caret"></b>
            </a>	
            <ul class="dropdown-menu">
                <li><a href="{{ path('esn_members_homepage') }}">ESN Members</a></li>
		<li><a href="{{ path('esn_members_homepage') }}">Erasmus Student</a></li>
            </ul>    				
	</li>
         <li {% if app.request.server.get('PHP_SELF') == '/permanence' %}class="active"{% endif %}><a href="{{ path('esn_permanence_homepage') }}"><i class="icon-home"></i><span>Permanence</span></a> </li>
         <li {% if app.request.server.get('PHP_SELF') == '/treasury' %}class="active"{% endif %}><a href="{{ path('esn_treasury_homepage') }}"><i class="icon-money"></i><span>Treasury</span></a> </li>     
         <li class="dropdown {% if app.request.server.get('PHP_SELF') == '/human-resources' %}active{% endif %} ">					
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-group"></i>
                <span>Human Ressources</span>
                <b class="caret"></b>
            </a>	
            <ul class="dropdown-menu">
                <li><a href="{{ path('esn_hr_homepage') }}">Association</a></li>
		<li><a href="{{ path('esn_hr_homepage') }}">Recruitment</a></li>
            </ul>    				
	</li>
         <li {% if app.request.server.get('PHP_SELF') == '/administration' %}class="active"{% endif %}><a href="{{ path('esn_administration_homepage') }}"><i class="icon-cog"></i><span>Administration</span></a> </li>
      </ul>
      
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->