<!-- subnavbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                {% if app.user %}
                    <li {% if '/dashboard' in (app.request.server.get('PHP_SELF')) %}class="active"{% endif %}><a
                                href="{{ path('esn_dashboard_homepage') }}"><i
                                    class="icon-dashboard"></i><span>Dashboard</span> </a></li>


                        <li class="dropdown {% if '/members' in (app.request.server.get('PHP_SELF')) %}active{% endif %} ">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-group"></i>
                                <span>Members</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('esn_members_esner') }}">ESN Members</a></li>
                                <li><a href="{{ path('esn_members_erasmus') }}">Erasmus Student</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {% if '/permanence' in (app.request.server.get('PHP_SELF')) %}active{% endif %}">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-home"></i>
                                <span>Permanence</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('esn_permanence_trips') }}">Trips</a></li>
                                <li><a href="{{ path('esn_permanence_reports') }}">Reports</a></li>
                            </ul>
                        </li>
                        {% if app.user.hasPermissionFor('treasury') %}
                            <li class="dropdown {% if '/treasury' in (app.request.server.get('PHP_SELF')) %}active{% endif %} ">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-eur"></i>
                                    <span>Treasury</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('esn_treasury_list') }}">See operations</a></li>
                                    <li><a href="{{ path('esn_treasury_add') }}">Add operation</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li class="dropdown {% if '/human-ressources' in (app.request.server.get('PHP_SELF')) %}active{% endif %} ">

                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-group"></i>
                                <span>Human Ressources</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if app.user.hasPermissionFor('human-ressources') or app.user.isRecruiter %}
                                    {% if app.user.hasPermissionFor('human-ressources') %}
                                        <li><a href="{{ path('esn_hr_association') }}">Association</a></li>
                                    {% else %}
                                        <li><a href="{{ path('esn_hr_recruitment') }}">Recruitement</a></li>
                                    {% endif %}
                                {% endif %}
                                <li><a href="{{ path('esn_hr_treeceratops')  }}">Treeceratops</a></li>
                            </ul>
                        </li>

                        {% if app.user.hasPermissionFor('administration') %}
                            <li class="dropdown
                                {% if '/administration' in (app.request.server.get('PHP_SELF')) %}
                                    active
                                {% endif %} ">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                    <span>Administration</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('esn_administration_trips') }}">Trips</a></li>
                                    <li><a href="{{ path('esn_administration_rules') }}">Rules</a></li>
                                    <li><a href="{{ path('esn_administration_cards') }}">Cards</a></li>
                                    <li><a href="{{ path('esn_administration_poles') }}">Poles</a></li>
                                    <li><a href="{{ path('esn_administration_countries') }}">Countries</a></li>
                                    <li><a href="{{ path('esn_administration_universities') }}">Universities</a></li>
                                </ul>
                            </li>
                            <li class="dropdown
                                {% if '/security' in (app.request.server.get('PHP_SELF')) %}
                                    active
                                {% endif %} ">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-lock"></i>
                                    <span>Security</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('esn_administration_security') }}">Activities</a></li>
                                </ul>
                            </li>
                        {% endif %}

                {% else %}
                    <li class="dropdown {% if '/human-ressources' in (app.request.server.get('PHP_SELF')) %}active{% endif %} ">
                        <a href="{{ path('esn_hr_recruitment_create') }}">
                            <i class="icon-group"></i>
                            <span>Postuler</span>
                            <b class="caret"></b>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
