<!-- subnavbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class=""><a href="{{ path('esn_dashboard_homepage') }}"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
         <li><a href="{{ path('esn_members_homepage') }}"><i class="icon-user"></i><span>Members</span></a> </li>
         <li><a href="{{ path('esn_dashboard_homepage') }}"><i class="icon-home"></i><span>Permanence</span></a> </li>
         <li><a href="{{ path('esn_treasury_homepage') }}"><i class="icon-money"></i><span>Treasury</span></a> </li>
         <li><a href="{{ path('esn_dashboard_homepage') }}"><i class="icon-group"></i><span>Human Ressources</span></a> </li>
         <li><a href="{{ path('esn_dashboard_homepage') }}"><i class="icon-cog"></i><span>Administration</span></a> </li>
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->