<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-content">
            <a class="btn" href="{{ path('esn_administration_universities_add') }}">Add new university</a>
{#                                        <button type="submit" class="btn">Add new university</button> &nbsp;&nbsp;#}
{#                                        <button class="btn">Delete selected universities</button>#}

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>

    <div class="span12">
        <div class="widget">
            <div class="widget-content">
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table">
                      <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Cigle</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for university in universities %}
                        <tr>
                            <td>
{#                                                <input type="checkbox">#}
                            </td>
                            <td>{{ university.name }}</td>
                            <td>{{ university.cigle }}</td>
                            <td>
                                <a href="{{ path('esn_administration_universities_edit', {
                                        'id' : university.id
                                       }) }}">Edit</a> &nbsp;
                                    <a href="{{ path('esn_administration_universities_delete', {
                                        'id' : university.id
                                       }) }}">Delete</a>
                            </td>
                        </tr>
                       {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span12 -->
</div>