{% extends 'ESNHRBundle::index.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="row">
    
    <div class="span3">
        
        <div class="widget">
            <div class="widget-content">
                
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; {{ apply.email }} <br/>
                &nbsp; {{ apply.mobile }} <br/>

                               
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3>
                    <a href="{{ apply.getFacebookId }}" target="_blank">
                        <i class="icon-facebook"></i>
                    </a>
                    {{ apply.firstname }} {{ apply.lastname }} ({{ apply.getNationality }}), {{ apply.getAge }} ans
                </h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>Apply Information</h3>
                <hr/>
                <form id="edit-profile" class="form-horizontal">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="student">Étudiant</label>
                        <div class="controls">
                            {% if apply.student %}oui{% else %}non{% endif %}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="student">Ancien Erasmus</label>
                        <div class="controls">
                            {% if apply.olderasmus %}oui{% else %}non{% endif %}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="availabletime">Temps disponible</label>
                        <div class="controls">
                            {{ apply.availabletime }}h
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="availabletime">Langues</label>
                        <div class="controls">
                            {% for language in apply.languages %}
                                {{ language }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="motivation">Motivations</label>
                        <div class="controls">
                            <textarea readonly rows="10" style="width: 500px;">{% spaceless %}
                                {{ apply.motivation }}
                            {% endspaceless %}</textarea>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="skill">Skills</label>
                        <div class="controls">
                            <textarea readonly rows="10" style="width: 500px;">{% spaceless %}
                                {{ apply.skill }}
                            {% endspaceless %}</textarea>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="esnlille">ESN Lille</label>
                        <div class="controls">
                            <textarea readonly rows="10" style="width: 500px;">{% spaceless %}
                                {{ apply.knowEsn }}
                            {% endspaceless %}</textarea>
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    
                    <div class="form-actions">
                        <a class="btn" href="{{ path('esn_hr_recruitment') }}">Retour</a>
                    </div> <!-- /form-actions -->
                </fieldset>  
                </form>

                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'apply_' ~ apply.id } %}
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
    </div><!-- /span9 -->
    
</div><!-- /row -->
{% endblock %}
