{% extends 'ESNHRBundle::index.html.twig' %}

{% block body %}
    <div class="row" style="text-align: center;">

        <div class="span12">
            <div class="widget">
                <div class="widget-content">

                    <h2>Formulaire de recrutement</h2>

                    <div style="text-align: center;">
                        <img src="{{ asset('img/recrutement_nouveau.jpg') }}" width="50%">
                    </div>

                    <div style="margin: 10px auto 10px auto;" class="alert alert-info">
                        <p>
                        Pour nous envoyer votre candidature, merci de remplir ce formulaire avec un maximum d'information.
                            <br>Nous vous enverrons une réponse par mail au plus vite.
                            <br><br>Des questions ? N'hésite pas à nous contacter à vp@esnlille.fr !
                        </p>
                    </div>

                    <p>
                        {% for message in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.session.flashbag.get('error') %}
                            <div class="alert alert-error">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </p>

                    <hr/>

                    {{ form_start(form) }}
                    <fieldset>

                        <div class="control-group">
                            <label class="control-label" for="firstname">Prénom</label>
                            <div class="controls">
                                {{ form_widget(form.firstname, { 'attr': {'placeholder': 'Prénom'} }) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="lastname">Nom</label>
                            <div class="controls">
                                {{ form_widget(form.lastname, { 'attr': {'placeholder': 'Nom'} }) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="email">Téléphone</label>
                            <div class="controls">
                                {{ form_widget(form.mobile) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="birthday">Facebook url</label>
                            <div class="controls">
                                {{ form_widget(form.facebook_id) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="birthday">Birthday</label>
                            <div class="controls">
                                {{ form_widget(form.birthdate) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="address">Nationality</label>
                            <div class="controls">
                                {{ form_widget(form.nationality) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="hasCare">Êtes-vous étudiant ?</label>
                            <div class="controls">
                                {{ form_widget(form.student) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="olderasmus">Êtes-vous partie en Erasmus ?</label>
                            <div class="controls">
                                {{ form_widget(form.olderasmus) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="availabletyme">Temps disponible ?</label>
                            <div class="controls">
                                {{ form_widget(form.availabletime) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="languages">Première langue</label>
                            <div class="controls">
                                {{ form_widget(form.languages) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="motivation">Motivations ?</label>
                            <div class="controls">
                                {{ form_widget(form.motivation) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="skill">Compétences ?</label>
                            <div class="controls">
                                {{ form_widget(form.skill) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="knowesn">Comment avez-vous connu ESN ?</label>
                            <div class="controls">
                                {{ form_widget(form.knowesn) }}
                            </div>
                        </div>

                        <hr/>

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Postuler">
                        </div>

                    </fieldset>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
