{% extends 'ESNHRBundle::index.html.twig' %}

{% block body %}

{{ parent() }}

<div class="row">

    {% if app.user.hasPermissionFor('human-ressources') %}
        <div class="span3">
            <div class="widget">
                <div class="widget-content">
                    <a class="btn btn-info" data-href="{{ path('esn_hr_recruitment_add_recruiter') }}" id="addrecruiter">Add/Remove a recruiter</a>
                </div>
                <!-- /widget-content -->
            </div>
            <!-- /widget -->
        </div>
    {% endif %}

    <div class="span12">
        <div class="widget">
            <div class="widget-content">

                <div class="panel panel-default">

                    <table id="esners" class="datatable" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Âge</th>
                            <th>Nationalité</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th></th>
                        </tr>
                        </thead>

                        {% for apply in applies %}
                            <tbody>
                            <tr>
                                <th>{{ apply.firstname }}</th>
                                <th>{{ apply.lastname }}</th>
                                <th>{% if apply.getAge() > 0 %} {{ apply.getAge() }} {% else %} ~ {% endif %}</th>
                                <th>{{ apply.nationality }}</th>
                                <th>{{ apply.email }}</th>
                                <th>{{ apply.mobile }}</th>
                                <th>
                                    <a href="{{ path('esn_hr_recruitment_view', {'apply_id' : apply.id}) }}">
                                        <i class="fa-eye icon-large" style="color: green;"></i>
                                    </a>
                                    {% if app.user.hasPermissionFor('human-ressources') %}
                                        <a href="{{ path('esn_hr_recruitment_delete', {'apply_id' : apply.id}) }}">
                                            <i class="icon-remove-sign icon-large" style="color: red;"></i>
                                        </a>
                                    {% endif %}
                                </th>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span12 -->
</div>

<div id="add_recrutier" class="popup" title="Recruiter" style="display:none;"></div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#addrecruiter').on('click', function () {
                var popup = $("#add_recrutier");

                $.get($(this).attr('data-href'), function (data) {
                    popup.html(data.html);
                    popup.dialog();
                    $('#form_add_recruiter_esner').select2();
                });
            });

            $('.datatable').dataTable( {
                "bPaginate": false,
                "oLanguage": { "sSearch": "" },
                "bInfo": false,
            } );
        } );
    </script>
{% endblock %}
