<div class="span3">
    <div class="widget">
        <div class="widget-content">

            <h3>
                <a href="{{ path('esn_members_detail', {
                    'type': "esners",
                    'id' : member.esner.id
                }) }}">{{ member.identity.name }}</a>
            </h3>
            <h4>{#{{ member.role}}#}</h4>

            <hr/>
            <p>
                Mail : {{ member.identity.email|length > 25 ? member.identity.email|slice(0, 22) ~ '...' : member.identity.email  }} <br/>
                Phone : {{ member.identity.phone }} <br/>
                <a href="{{ path('esn_members_detail', {
                    'type': "esners",
                    'id' : member.esner.id
                }) }}">View Detail</a>
                /
                <a href="{{ path('esn_members_esner_edit', {
                    'id' : member.esner.id
                }) }}">Edit profil</a>
            </p>

        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
</div><!-- /span12 -->
