<div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="{{ path('esn_members_detail', {
                        'type': "esners",
                        'id' : member.id
                       }) }}">{{ member.name }}</a>
                </h3>
                <h4>{{ member.role}}</h4>
                
                <hr/>
                <p>
                    Mail : {{member.mail}} <br/>
                    Phone : {{ member.phone}} <br/>
                    <a href="{{ path('esn_members_detail', {
                        'type': "esners",
                        'id' : member.id
                       }) }}">View Detail</a>
                      / 
                    <a href="{{ path('esn_members_edit', {
                        'type': "esners",
                        'id' : member.id
                       }) }}">Edit profil</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 -->
