<div class="row">
    
    <div class="span3">
        
        <div class="widget ">
            <div class="widget-content">
                
                <img style="width: 100%;" src="/img/user.png">
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
        <div class="widget">
            <div class="widget-content">
                
                <h3>Contact</h3>
                
                <hr/>
                &nbsp; {{ member.identity.name }} <br/>
                &nbsp; {{ member.identity.phone }}
                               
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3>{{ member.identity.name }} - {#{{ role }}#}</h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>Profil Information</h3>
                <hr/>
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            Test years old
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                           {{ member.identity.birthday|date('Y-m-d') }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            {{ member.identity.nationality }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            {{ member.esner.address }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                           {{ member.esner.city }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="city">Zip Code</label>
                        <div class="controls">
                            {{ member.esner.zipcode }}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            {{member.esner.study}}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            {{member.esner.university}}
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="language1">Language 1</label>
                        <div class="controls">
                            not implement
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language2">Language 2</label>
                        <div class="controls">
                             not implement
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language3">Language 3</label>
                        <div class="controls">
                             not implement
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                </fieldset>  
                </form>    
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
    </div><!-- /span9 -->
    
</div><!-- /row -->
