{% extends 'ESNMembersBundle::index.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="row">
    
    <div class="span3">
        
        <div class="widget ">
            <div class="widget-content">
                <img style="width: 100%;"
                     src="
                     {% if user.galaxypicture is not null %}
                        {{ user.galaxypicture }}
                     {% else %}
                        {{ asset('img/user.png') }}
                     {% endif %}
                     ">
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
        <div class="widget">
            <div class="widget-content">
                
                <h3>Contact</h3>
                
                <hr/>
                &nbsp; {{ user.email }} <br/>
                &nbsp; {{ user.mobile }}
                               
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3>
                    {% if user.getFacebookId() %}
                        <a href="{{ user.getFacebookId() }}" target="_blank">
                            <img src="https://www.facebook.com/images/fb_icon_325x325.png" width="20">
                        </a>
                    {% endif %}


                    {{ user.firstname ~ ' ' ~ user.lastname ~ ' | '}}
                    {% if user.pole %}
                        {{ user.post ~ ' | '}}
                        {{ user.pole }}
                    {% endif %}

                    <a href="{{ path('esn_members_esner_edit', {'user_id': user.id}) }}" style="float:right;">
                        <i class="icon-edit icon-large" style="color: green;"></i>
                    </a>

                </h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>Profil Information</h3>
                <hr/>
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            <span>
                                {% if user.getAge() > 0 %}
                                    {{ user.getAge() }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            <span>
                                {% if user.getAge() %}
                                    {{ user.getAge()|date('d/m/Y') }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="nationality">Nationality</label>
                        <div class="controls">
                            <span>
                                {% if user.nationality %}
                                    {{ user.nationality }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            <span>
                                {% if user.address %}
                                    {{ user.address }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                            <span>
                                {% if user.city %}
                                    {{ user.city }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="city">Zip Code</label>
                        <div class="controls">
                            <span>
                                {% if user.zipcode %}
                                    {{ user.zipcode }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="hasCare">Mentor</label>
                        <div class="controls">
                            {% if user.mentor %}
                                {{ user.mentor }}
                            {% else %}
                                ~
                            {% endif %}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="hasCare">Mentee</label>
                        <div class="controls">
                            {% if user.mentees|length > 0 %}
                                {% for mentee in user.mentees %}
                                    {{ mentee }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            <span>
                                {% if user.study %}
                                    {{ user.study }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <span>{{ user.university }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="language1">Language 1</label>
                        <div class="controls">
                            <span>not implemented</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language2">Language 2</label>
                        <div class="controls">
                             <span>not implemented</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language3">Language 3</label>
                        <div class="controls">
                             <span>not implemented</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->

                    <hr/>

                    {% if trips|length > 0 %}
                        <div class="control-group">
                            <label class="control-label" for="trips">Voyages</label>
                            <div class="controls">
                                <ul id="trips">
                                    {% for trip in trips %}
                                        <li>{{ '(' ~ trip.trip.date|date('Y/m/d') ~ ') ' ~ trip}}</li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->
                    {% endif %}

                </fieldset>  
                </form>    
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
    </div><!-- /span9 -->
    
</div><!-- /row -->
{% endblock %}