<div class="row">
    
    <div class="span3">
        
        <div class="widget ">
            <div class="widget-content">
                
                <img style="width: 100%;" src="{{ asset('img/user.png') }}">
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
        <div class="widget">
            <div class="widget-content">
                
                <h3>Contact</h3>
                
                <hr/>
                &nbsp; {{ member[0].identity.email }} <br/>
                &nbsp; {{ member[0].identity.phone }}
                               
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3>{{ member[0].identity.surname ~ ' ' ~ member[0].identity.name ~ ' ' ~ member[0].esner.pole }}</h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>Profil Information</h3>
                <hr/>
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            <span>
                                {% if member[0].identity.getAge() > 0 %}
                                    {{ member[0].identity.getAge() }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            <span>
                                {% if member[0].identity.getBirthday() %}
                                    {{ member[0].identity.getBirthday()|date('d/m/Y') }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            <span>
                                {% if member[0].identity.nationality %}
                                    {{ member[0].identity.nationality }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            <span>
                                {% if member[0].esner.address %}
                                    {{ member[0].esner.address }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="city">City</label>
                        <div class="controls">
                            <span>
                                {% if member[0].esner.city %}
                                    {{ member[0].esner.city }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="city">Zip Code</label>
                        <div class="controls">
                            <span>
                                {% if member[0].esner.zipcode %}
                                    {{ member[0].esner.zipcode }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            <span>
                                {% if member[0].identity.study %}
                                    {{ member[0].identity.study }}
                                {% else %}
                                    ~
                                {% endif %}
                            </span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <span>{{ member[0].identity.university }}</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="language1">Language 1</label>
                        <div class="controls">
                            <span>not implemented</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language2">Language 2</label>
                        <div class="controls">
                             <span>not implemented</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language3">Language 3</label>
                        <div class="controls">
                             <span>not implemented</span>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                </fieldset>  
                </form>    
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
    </div><!-- /span9 -->
    
</div><!-- /row -->
