{% extends '::base.html.twig' %}

{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">

    <div class="span3">
        <div class="widget">
            <div class="widget-content">

                <h3>Contact</h3>

                {{ form_start(form) }}

                <hr/>
                {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                {{ form_widget(form.mobile, { 'attr': {'placeholder': 'Téléphone'} } ) }}
                <br/>

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>
    <div class="span9">
        <div class="widget">
            <div class="widget-content">

                {{ form_widget(form.firstname, { 'attr': {'placeholder': 'Prénom'} }) }}
                {{ form_widget(form.lastname, { 'attr': {'placeholder': 'Nom'} }) }}
                {{ form_widget(form.post) }}
                {{ form_widget(form.pole) }}

                <a href="{{ path('esn_members_detail', {'user_id': user.id}) }}" style="float:right;">
                    <i class="fa-eye icon-large" style="color: blue;"></i>
                </a>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>

    <div class="span9">
        <div class="widget">
            <div class="widget-content">

                <h3>Personal Information</h3>

                <hr/>

                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="birthday">Facebook url</label>
                        <div class="controls">
                            {{ form_widget(form.facebook_id) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="birthday">Birthday</label>
                        <div class="controls">
                            {{ form_widget(form.birthdate, {'value': user.birthdate|date('Y-m-d')}) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            {{ form_widget(form.nationality) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="hasCare">Voiture</label>
                        <div class="controls">
                            {{ form_widget(form.hasCare) }}
                        </div>
                    </div>

                    <hr/>

                    <h3>ESN Information</h3>

                    <div class="control-group">
                        <label class="control-label" for="hasCare">Mentor</label>
                        <div class="controls">
                            {{ form_widget(form.mentor) }}
                        </div>
                    </div>

                    <hr/>

                    <h3>Erasmus Information</h3>

                    <div class="control-group">
                        <label class="control-label" for="erasmus">Erasmus</label>
                        <div class="controls">
                            {{ form_widget(form.erasmusProgramme) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="erasmusyearstart">Début</label>
                        <div class="controls">
                            {{ form_widget(form.erasmusyearstart) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="erasmusyearend">Fin</label>
                        <div class="controls">
                            {{ form_widget(form.erasmusyearend) }}
                        </div>
                    </div>

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            {{ form_widget(form.address) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="zipcode">Zipcode</label>
                        <div class="controls">
                            {{ form_widget(form.zipcode) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="ville">Ville</label>
                        <div class="controls">
                            {{ form_widget(form.city) }}
                        </div>
                    </div>

                    <hr/>
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            {{ form_widget(form.study) }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            {{ form_widget(form.university) }}
                        </div>
                    </div>

                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Save">
                        <button class="btn">Cancel</button>
                    </div>

                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}