{% extends '::base.html.twig' %}

{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">

    <div class="span3">
        <div class="widget">
            <div class="widget-content">

                <h3>Contact</h3>

                {{ form_start(form) }}

                <hr/>
                {{ form_widget(form.email, {'value': member[0].identity.email}) }}
                {{ form_widget(form.phone, {'value': member[0].identity.phone}) }}
                <br/>

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>
    <div class="span9">
        <div class="widget">
            <div class="widget-content">

                {{ form_widget(form.name, {'value': member[0].identity.name}) }}
                {{ form_widget(form.surname, {'value': member[0].identity.surname}) }}
                {{ form_widget(form.post, {'value': member[0].esner.post}) }}
                {{ form_widget(form.pole, {'value': member[0].esner.pole}) }}

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>

    <div class="span9">
        <div class="widget">
            <div class="widget-content">

                <h3>Erasmus Information</h3>

                <hr/>


                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="birthday">Birthday</label>
                        <div class="controls">
                            {{ form_widget(form.birthday, {'value': member[0].identity.birthday|date('Y-m-d')}) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            {{ form_widget(form.country) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="hasCare">Voiture</label>
                        <div class="controls">
                            {{ form_widget(form.hasCare) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="erasmus">Erasmus</label>
                        <div class="controls">
                            {{ form_widget(form.erasmus) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="erasmusyearstart">Début</label>
                        <div class="controls">
                            {{ form_widget(form.erasmusyearstart, {'value': member[0].esner.erasmusyearstart|date('Y-m-d')}) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="erasmusyearend">Fin</label>
                        <div class="controls">
                            {{ form_widget(form.erasmusyearend, {'value': member[0].esner.erasmusyearend|date('Y-m-d')}) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="address">Address</label>
                        <div class="controls">
                            {{ form_widget(form.address) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="address">Zipcode</label>
                        <div class="controls">
                            {{ form_widget(form.zipcode) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="address">Ville</label>
                        <div class="controls">
                            {{ form_widget(form.city) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <hr/>
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            {{ form_widget(form.study, {'value': member[0].identity.study}) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            {{ form_widget(form.university, {'data': member[0].identity.university}) }}
                        </div> <!-- /controls -->
                    </div> <!-- /control-group -->

                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Save">
                        <button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->

                </fieldset>
                {{ form_end(form) }}

            </div><!-- /widget-content -->
        </div><!-- /widget -->
    </div>

</div>
{% endblock %}