{% extends '::base.html.twig' %}

{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}
<div class="row">

    <script>
        $(document).ready( function() {
            $('#search_filter_pole').change(function() {
                this.form.submit();
            });
            $('#search_filter_university').change(function() {
                this.form.submit();
            });
            $('#search_filter_country').change(function() {
                this.form.submit();
            });
            $('#search_filter_active').change(function() {
                this.form.submit();
            });
        });

        $(document).ready(function() {
            $('#datatable').DataTable( {
                "bPaginate": false,
                "bInfo" : false
            } );
        } );
    </script>

    <table id="datatable" class="display" cellspacing="0" width="80%">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Poste</th>
                <th>Pôle</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </thead>

        <tbody>
            {% for membre in liste_membres %}
                <tr>
                    <td>{{ membre.identity.name }}</td>
                    <td>{{ membre.identity.surname }}</td>
                    <td>{{ membre.esner.post }}</td>
                    <td>{{ membre.esner.pole }}</td>
                    <td>{{ membre.identity.email }}</td>
                    <td>{{ membre.identity.phone }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Poste</th>
                <th>Pôle</th>
                <th>Email</th>
                <th>Téléphone</th>
            </tr>
        </tfoot>
    </table>

</div><!-- /row -->
{% endblock %}
