{% extends '::base.html.twig' %}

{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}
<div class="row">
    <table id="esners" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Âge</th>
            <th>Pôle</th>
            <th>Poste</th>
            <th>Téléphone</th>
            <th>University</th>
            <th></th>
        </tr>
        </thead>

        {% for esner in esners %}
            <tbody>
                <tr>
                    <th>{{ esner.firstname }}</th>
                    <th>{{ esner.lastname }}</th>
                    <th>{% if esner.getAge() > 0 %} {{ esner.getAge() }} {% else %} ~ {% endif %}</th>
                    <th>{% if esner.pole %} {{ esner.pole }} {% else %} ~ {% endif %}</th>
                    <th>{% if esner.post %} {{ esner.post }} {% else %} ~ {% endif %}</th>
                    <th>{% if esner.mobile %} {{ esner.mobile }} {% else %} ~ {% endif %}</th>
                    <th>{% if esner.university %} {{ esner.university }} {% else %} ~ {% endif %}</th>
                    <th>
                        <a href="{{ path('esn_members_esner_edit', {'user_id': esner.id}) }}">
                            <i class="icon-edit icon-large" style="color: green;"></i>
                        </a>
                        <a href="">
                            <i class="icon-remove-sign icon-large" style="color: red;"></i>
                        </a>
                    </th>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div><!-- /row -->

<script>
    $(document).ready(function() {
        $('#esners').dataTable( {
            "bPaginate": false,
            "oLanguage": { "sSearch": "" },
            "bInfo": false,
        } );
    } );
</script>
{% endblock %}
