{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}


{% block body %}
<div class="row">
<!--
<div class="span7">
        <div class="widget">
            <div class="widget-content">
            
                <div style="float:left;display:block;"> Du <input type='date'/>
                au <input type='date'/> </div>
                <div style="float:left;display:block;"> &nbsp;
                <input type="submit" value="See operations">
                </div>
                
            </div><!-- widget-content -->
     <!--   </div><!-- /widget -->
    <!--</div><!-- /span4 -->


    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                <a href="{{ path('esn_treasury_add') }}">
                    <button class="btn btn-info">Ajouter une opération</button>
                </a>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span4 -->


<div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <p style="float:left;display:block;"> Money in the fund : <span style="color:green;"> {{ caisse }} € </span> </p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span4 -->    
      
    <!--
<div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <p style="float:left;display:block;">Difference :  <span style="color:green;">+ 3542.00 € </span></p>
            
            </div><!-- widget-content -->
        <!--</div><!-- /widget -->
    <!--</div><!-- /span4 -->    


                    <div class="span12">
                        <div class="widget">
                            <div class="widget-content">
                                              
                                <div class="panel panel-default">

                                    <!-- Table -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Operation</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for operation in operations %}
                                         <tr> 

                                            <td>{{operation.date|date('d/m/Y G:i ')}}</td>
                                            <td>{{operation.libelle}}</td>

                                            {% if operation.montant<0 %}
                                                <td><span style="color:red;"> {{operation.montant}} €</span></td>
                                                <td></td>
                                            {% else %}
                                                <td></td>  
                                                <td><span style="color:green;"> +{{operation.montant}} €</span></td>
                                            {%endif%}

                                            <td><a href="{{ path('esn_treasury_see', {
                                                    'id' : operation.id
                                                   }) }}">See details</a></td>
                                        </tr> 
                                        {%endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div><!-- widget-content -->
                        </div><!-- /widget -->
                    </div><!-- /span12 -->   
        
                    </div>
{% endblock %}
