{% extends 'ESNAdministrationBundle::layout.html.twig' %}

{% block content %}
    <h1>Activities</h1>

    <table id="activities" class="datatable" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Datetime</th>
            <th>User</th>
            <th>Action</th>
            <th>Old</th>
            <th>New</th>
        </tr>
        </thead>

        {% for activity in activities %}
            <tbody>
            <tr>
                <th>{{ activity.createdat|date('d/m/Y') }}</th>
                <th>{{ activity.user }}</th>
                <th>{{ activity.action }}</th>
                <th>{{ activity.old }}</th>
                <th>{{ activity.new }}</th>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.datatable').dataTable( {
                "bPaginate": false,
                "oLanguage": { "sSearch": "" },
                "bInfo": false,
            } );
        } );
    </script>
{% endblock %}